.game-over {
  width: 20%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: beige;
  border: 2px solid #75454A;
  border-radius: 10px;
}

.ending-text-container p {
  color: black;
  font-size: 2rem;
}

.game-over * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.game-over .ending-text-container {
  padding: 1rem;
  text-align: center;
}

.game-over button {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.7rem;
  color: white;
  background-color: rgb(247, 83, 34);
  border: 2px solid #75454A;
  border-radius: 0.8rem;
}

.game-over button:hover {
  background-color: rgb(248, 69, 15)
}