.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgb(185, 218, 119);
  border-bottom: 2px solid #75454A;
}

.header h1 {
  color: rgb(197, 19, 19);
}

@media only screen and (max-width: 900px) {
  .header h1 {
    font-size: 2rem;
    word-wrap: break-word
  }
}